p{
    color: red;
    font-size: 22pt;
}
#gruby_sokhatskyi{
    color: green;
    font-size: 17pt;
    font-weight: bold;
}
#dlawszystkich_sokhatskyi{
    color: yellow;
    font-family: Arial;
    font-size: 10pt;
}